.payment-list {
    margin: auto 100px;
}

h2 {
    font-size: 28px;
}

.payment-list h2 {
    color: whitesmoke;
    margin: 30px auto 50px;
}

.payments-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    margin: 0 50px 15px;
    height: 80px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.842);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.payments-info span {
    text-transform: capitalize;
    margin-left: 5px;
}

#from {
    color: rgb(160, 7, 7);
}

#to {
    color: blue;
}

#amount {
    font-weight: bold;
}

#type {
    text-transform: uppercase;
}